.content{
  width: 75%;
  margin: 0 auto;
}

.top{
  background-color:#c4cac8;
  line-height:3em;
  font-size:1.8em;
  text-align:left;
  padding-right:30px;
}
h1,h2{
  color:black;
  font-weight:bold;
  font-family:"Calibri","Ariel",sans-serif;
  font-size:1.8em;
  margin-bottom:-15px;
}
.left-column, #right-column{
  width:48%;
  flex: 1 0 15em;
  padding:10px;
}
#right-column{
  position:absolute;
  top:5px;
  right:5px;
}
.img-lh{
  width:200px;
  top:5px;
  right:5px;
  background-image: url(image/laurenandhenry.png);
}

.main{
  text-align:left;
  width:48%;
  flex: 1 0 15em;
  padding:10px;
  color:black;
}

.bottom{
    
  display:flex;
  flex-flow:row wrap;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  color:white;
  font-weight:bold;
  background-color:#233521;
  padding:20px;
  vertical-align:middle;
  border:solid thick #8c9267; 
}