#top{
  background-color:#a8adab;
  line-height:3em;
  font-weight:bold;
  font-size:1.8em;
  text-align:left;
  padding-right:30px;
}
h1,h2{
  color:black;
  font-family:"century gothic","ariel",sans-serif;
  font-size:1.8em;
  margin-bottom:-15px;
}
#main{
  text-align:left;
  width:48%;
  flex: 1 0 15em;
  padding:10px;
  color:black;
}

#bottom{
    
  display:flex;
  flex-flow:row wrap;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  color:white;
  font-weight:bold;
  background-color:#30492d;
  padding:20px;
  vertical-align:middle;
  border:solid thick #8c9267; 
}