body{
  width: 75%;
  margin: 0 auto;
}
header{
  background-color:#c4cac8;
  line-height:3em;
  font-size:1.8em;
  text-align:left;
  padding-right:30px;
  border:solid thick #050505; 
}
h1,h2{
  color:black;
  font-weight:bold;
  font-family:"Calibri","Ariel",sans-serif;
  font-size:1.8em;
  margin-bottom:-15px;
}
img{
  float:right;
  top:100px;
  right:180px;
  width:180px;
  height:270px;
  background-image:url(images/laurenandhenry.jpg);
  box-shadow:7px;
}
footer{
  line-height:1.5em;
  font-size:1em;
  padding:20px;
  text-align:center;
  color:white;
  font-weight:bold;
  background-color:#233521;
  vertical-align:middle;
  border:solid thick #8c9267; 
} 