@media (min-width: 44em) {
div.cards {
    display: flex;
    flex-wrap: wrap;
}

div.cards section {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
}

div.cards section:nth-child(even) {
    flex-direction: row-reverse;
}
main {
      padding: 1rem;
      margin: 20px;
}
    
}