body {
    font-family: "Ubuntu, sans-serif";
    line-height: 1.25;
  }
  .tablebody{
    background-color:#e7f0ed;
  }
  #top{
    font-size:1.5rem;
    font-weight:bold;
  }
  table {
    border: 1px solid;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 30%;
    table-layout: fixed;
  }
  table:hover {box-shadow: 0 0 50px #333;}
  
  .headings{
    background-color:#628ca6;
    color:white;
  }
  .tandb{
    background-color:#7fb9c2;
  }
  
  table tr {
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border: 3px solid;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border: 1px solid;
      display: block;
      font-size: .8em;
      text-align: right;
    }
  }