body{
    font-family: 'Ubuntu';
    }
thead th{
    background-color: #628cab;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}
table, th, td{
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
}
table{
    border-spacing: 5px;
    width:400px;
    box-shadow: 10px 10px 10px #628cab;
}

th, td{
    padding: 10px;
    text-align: center;
}

thead tr:first-child th{
    background-color: #7fb9c2;
    color: black;
    font-size: 1.6em;
    font-weight: bold;
}
table tr:nth-child(odd){
    background-color: #e7f0ed;

}
table tr:nth-child(even){
    background-color: #e7ffed;
}
.colored{
    background-color: #628cab;
    color: white;
}
tfoot td{
    background-color: #7fb9c2;
    font-size: 0.8em;
    text-align: center;
}