main{
    Display: grid;
    Grid-template-columns:1fr;
    font-size:0.8rem;
}
@media only screen and (max-width:29em) {
    main{
        grid-template-columns: 1fr;
    }
    img{
        width:20%;
    }
}